
body {
	
	margin: 0;
	padding: 0;
	background-color: skyblue;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

form {
	width: 80%;
	margin: auto;
	background-color: aliceblue;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
}

label {
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

textarea {
	height: 100px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: royalblue;
}
